html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.box {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    height: 100%;
    /* height: 900px; */
}

.main {
    /* background-color: #ede; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.NBDesktop {
    display: inline-block;
}

.tips {
    display: inline-block;
    margin-left: 4rem;
    align-items: center;
    text-align: left;
    vertical-align: middle;
}

.tips h1 {
    font-size: 64px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 58px;
}
.tips p {
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
}

.browsers {
    margin-top: 60px;
    display: flex;
    width: 535px;
    justify-content: space-between;
}

.browsers .icons {
    text-align: center;
}
.browsers .icons .browser-name {
    display: block;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    margin-top: 10px;
    font-size: 24px;
}

.tips input {
    background-color: #FF8413;
    border: none;
    width: 150px;
    height: 30px;
    color: white;
}
